.container {
  min-height: 102vh;
  min-width: 102vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  background: radial-gradient(circle, #405de8, #5851db, #833ab4);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top-bar {
  top: 0;
  width: 100vw;
  min-height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 5px solid transparent;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 20px 0;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.3);
  transition: border 0.3s ease-in-out;
}

.Search {
  width: 95vw;
  padding: 10px 0px;
}